#about
    height: 750px
    position: relative

    .bg
        position: absolute
        left: 0
        top: 0
        width: calc((100% - 1250px)/2 + 550px + 100px)
        height: 100%
        z-index: -1
        background-color: $color-c

    .content
        display: flex
        align-items: center
        justify-content: center
        height: 100%

        .text
            width: calc(550px - 50px)
            padding-right: 50px
        

            h2
                color: $color-a

            p.top-title
                color: $color-a

            a
                font-weight: bold

        .image-wrapper
            width: calc(100% - 550px)

            img
                width: 100%
                height: auto

    @media screen and (max-width: $regular-width-media-query)
        .content 
            justify-content: flex-start

            .text
                width: calc(40%)

            .image-wrapper
                width: calc(100% - 40% - 20px)

    @media screen and (max-width: 900px)
        height: auto

        .bg
            width: 100%

        .content 
            flex-direction: column

            .text
                width: calc(100%)
                padding: 0
                margin-bottom: 50px
                margin-top: 50px

            .image-wrapper
                width: 100%

