.btn
    display: inline-block
    padding: 15px 30px
    font-weight: bold
    box-shadow: 5px 5px 20px -6px rgba($color-c, 0.5)
    border: none
    transition-duration: $transition-duration
    font-size: 12px

    &.white
        background-color: $color-b
        color: $color-c

    &.blue
        background-color: $color-e
        color: $color-b

    &:hover
        box-shadow: 5px 5px 20px -6px $color-c
        

    
