#header
    position: relative
    z-index: 1

    .logo
        position: absolute
        left: 0
        top: 0
        padding: 15px

        img
            width: 100px
            height: auto

    .socials
        position: absolute
        right: 0
        top: 0
        padding: 10px
        background-color: $color-e


        