#header
    position: relative
    z-index: 1

    .logo
        position: absolute
        left: 0
        top: 0
        padding: 15px
        padding-left: 0

        img
            width: 100px
            height: auto

    .socials
        position: absolute
        right: 0
        top: 0
        padding: 10px
        background-color: $color-e

    @media screen and (max-width: $regular-width-media-query)
        .logo
            padding-left: 5%


        