#services
    position: relative
    color: $color-c
    background-color: $color-d
    padding-bottom: 100px

    .bg
        position: absolute
        left: 0
        top: 0
        width: calc((100% - 1250px) / 2 + 950px)
        height: 100%
        z-index: 0
        background-color: $color-b

    .content
        display: flex
        align-items: center
        justify-content: center
        height: 100%

        .text
            width: calc(700px - 50px)
            padding: 150px 0
            padding-right: 50px

            h2
                color: $color-c

            p.top-title
                color: $color-e

            .grid.services-cards
                display: grid
                grid-template-columns: repeat(2, 1fr)
                margin-top: 50px
                gap: 20px

                .service
                    display: flex
                    flex-direction: column

                    &:last-child
                        grid-column-start: 1
                        grid-column-end: 3

                    .decorator
                        width: 20px
                        height: 25px
                        border: 2px solid $color-e

                    .name 
                        display: flex
                        align-items: center
                        justify-content: flex-start
                        
                        .line
                            width: 40px
                            height: 5px
                            border-bottom: 2px solid $color-e
                            margin-right: 20px

                        h3
                            width: calc(100% - 40px)
                            display: inline-block

        .image-wrapper
            width: calc(100% - 700px)

            img
                width: 100%
                height: auto
                margin-top: 150px

    @media screen and (max-width: $regular-width-media-query)
        padding-bottom: 0
        
        .bg
            width: 95%

        .content

            .image-wrapper
                display: none

            .text
                width: 90%
                padding-right: 0

                .grid.services-cards 
                    width: 100%

    @media screen and (max-width: 550px)
        .content .text .grid.services-cards 
            grid-template-columns: repeat(1, 1fr)

            .service:last-child
                grid-column-start: 1
                grid-column-end: 2

            .service .decorator
                display: none