html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  font-family: "Montserrat", sans-serif;
  color: #ebebeb;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #ebebeb;
}

.regular-width {
  max-width: 1250px;
  margin: 0 auto;
}
@media screen and (max-width: 1300px) {
  .regular-width {
    padding: 0 5%;
    width: 90%;
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Lora", serif;
  color: #1d1d1b;
  margin: 25px 0;
}

h2 {
  font-size: 50px;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.top-title {
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  color: #6458ff;
}

.shadow {
  box-shadow: 4px 4px 30px -15px #1d1d1b;
}

.socials .social {
  display: inline-block;
  padding: 10px;
}
.socials .social svg {
  width: 15px;
  height: 15px;
  text-align: center;
  margin: 0 auto;
}
.socials .social svg use {
  fill: #ebebeb;
}

.logo, .social {
  transition-duration: 0.3s;
}
.logo:hover, .social:hover {
  opacity: 0.7;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  box-shadow: 5px 5px 20px -6px rgba(29, 29, 27, 0.5);
  border: none;
  transition-duration: 0.3s;
  font-size: 12px;
}
.btn.white {
  background-color: #ebebeb;
  color: #1d1d1b;
}
.btn.blue {
  background-color: #b675eb;
  color: #ebebeb;
}
.btn:hover {
  box-shadow: 5px 5px 20px -6px #1d1d1b;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: #b675eb;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1d1d1b;
}

#header {
  position: relative;
  z-index: 1;
}
#header .logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  padding-left: 0;
}
#header .logo img {
  width: 100px;
  height: auto;
}
#header .socials {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: #b675eb;
}
@media screen and (max-width: 1300px) {
  #header .logo {
    padding-left: 5%;
  }
}

#hero {
  height: 100vh;
  min-height: 600px;
  max-height: 1100px;
  background-color: #b675eb;
  position: relative;
}
#hero .content-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#hero .content-wrapper .content {
  display: inline-block;
  width: 500px;
}
#hero .content-wrapper .content h1 {
  color: #ebebeb;
  font-size: 50px;
}
#hero .content-wrapper .content .top-title {
  color: #ebebeb;
}
#hero .content-wrapper .content .btn {
  margin-top: 20px;
}
#hero .image {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: calc(100% - 500px - (100% - 1250px) / 2);
  height: 100%;
  background-image: url("../imgs/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 1300px) {
  #hero .image {
    width: calc(60% - 50px);
  }
  #hero .content-wrapper .content {
    width: 40%;
  }
}
@media screen and (max-width: 750px) {
  #hero .content-wrapper {
    align-items: flex-start;
  }
  #hero .content-wrapper .content {
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }
  #hero .image {
    position: absolute;
    bottom: 0;
    top: initial;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 500px);
  }
}
@media screen and (max-width: 440px) {
  #hero {
    height: 900px;
  }
  #hero .image {
    height: calc(100% - 600px);
  }
}

#about {
  height: 750px;
  position: relative;
}
#about .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: calc((100% - 1250px) / 2 + 550px + 100px);
  height: 100%;
  z-index: -1;
  background-color: #1d1d1b;
}
#about .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#about .content .text {
  width: 500px;
  padding-right: 50px;
}
#about .content .text h2 {
  color: #6458ff;
}
#about .content .text p.top-title {
  color: #6458ff;
}
#about .content .text a {
  font-weight: bold;
}
#about .content .image-wrapper {
  width: calc(100% - 550px);
}
#about .content .image-wrapper img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1300px) {
  #about .content {
    justify-content: flex-start;
  }
  #about .content .text {
    width: 40%;
  }
  #about .content .image-wrapper {
    width: calc(60% - 20px);
  }
}
@media screen and (max-width: 900px) {
  #about {
    height: auto;
  }
  #about .bg {
    width: 100%;
  }
  #about .content {
    flex-direction: column;
  }
  #about .content .text {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  #about .content .image-wrapper {
    width: 100%;
    transform: translateY(10px);
  }
}

#services {
  position: relative;
  color: #1d1d1b;
  background-color: #4135e0;
  padding-bottom: 100px;
}
#services .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: calc((100% - 1250px) / 2 + 950px);
  height: 100%;
  z-index: 0;
  background-color: #ebebeb;
}
#services .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#services .content .text {
  width: 650px;
  padding: 150px 0;
  padding-right: 50px;
}
#services .content .text h2 {
  color: #1d1d1b;
}
#services .content .text p.top-title {
  color: #b675eb;
}
#services .content .text .grid.services-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  gap: 20px;
}
#services .content .text .grid.services-cards .service {
  display: flex;
  flex-direction: column;
}
#services .content .text .grid.services-cards .service:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
#services .content .text .grid.services-cards .service .decorator {
  width: 20px;
  height: 25px;
  border: 2px solid #b675eb;
}
#services .content .text .grid.services-cards .service .name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#services .content .text .grid.services-cards .service .name .line {
  width: 40px;
  height: 5px;
  border-bottom: 2px solid #b675eb;
  margin-right: 20px;
}
#services .content .text .grid.services-cards .service .name h3 {
  width: calc(100% - 40px);
  display: inline-block;
}
#services .content .image-wrapper {
  width: calc(100% - 700px);
}
#services .content .image-wrapper img {
  width: 100%;
  height: auto;
  margin-top: 150px;
}
@media screen and (max-width: 1300px) {
  #services {
    padding-bottom: 0;
  }
  #services .bg {
    width: 95%;
  }
  #services .content .image-wrapper {
    display: none;
  }
  #services .content .text {
    width: 90%;
    padding-right: 0;
  }
  #services .content .text .grid.services-cards {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  #services .content .text .grid.services-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  #services .content .text .grid.services-cards .service:last-child {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #services .content .text .grid.services-cards .service .decorator {
    display: none;
  }
}

#team {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
#team .cards {
  display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  width: 300px;
}
#team .cards .card {
  display: flex;
  flex-direction: column;
}
#team .cards .card img {
  width: 100%;
  height: auto;
}
#team .cards .card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
  background-color: #6458ff;
  color: #ebebeb;
}
#team .cards .card .info .name {
  text-align: left;
}
#team .cards .card .info .name h3 {
  margin: 0;
  margin-bottom: 8px;
  color: #ebebeb;
}
#team .cards .card .info .name p {
  margin: 0;
}
#team .cards .card .info .socials .social {
  padding: 2px;
}

#footer {
  position: relative;
  color: #1d1d1b;
  background-color: #ebebeb;
}
#footer .bg {
  position: absolute;
  right: 0;
  top: 0;
  width: calc((100% - 1250px) / 2 + 400px);
  height: 100%;
  z-index: 0;
  background-color: #b675eb;
}
#footer .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#footer .content .form {
  width: 400px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 50px;
}
#footer .content .form h2 {
  color: #1d1d1b;
}
#footer .content .form form {
  color: #1d1d1b;
  width: 100%;
}
#footer .content .form form fieldset {
  border: none;
  width: 100%;
  padding: 0;
}
#footer .content .form form input:not(.btn), #footer .content .form form textarea {
  border: none;
  border-bottom: 2px solid rgba(29, 29, 27, 0.3);
  background-color: #ebebeb;
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 30px;
  font-size: 18px;
  transition-duration: 0.3s;
}
#footer .content .form form input:not(.btn)::placeholder, #footer .content .form form textarea::placeholder {
  transition-duration: 0.3s;
  opacity: 0.7;
}
#footer .content .form form input:not(.btn):focus, #footer .content .form form textarea:focus {
  border-bottom: 2px solid rgba(29, 29, 27, 0.7);
}
#footer .content .form form input:not(.btn):focus::placeholder, #footer .content .form form textarea:focus::placeholder {
  opacity: 1;
}
#footer .content .form form textarea {
  resize: vertical;
  height: 80px;
}
#footer .content .form form .btn.blue {
  margin-top: 30px;
}
#footer .content .map-widgets {
  width: calc(100% - 500px);
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .content .map-widgets .iframe-wrapper {
  width: calc(100% - 220px);
  height: 550px;
  background-color: #4135e0;
}
#footer .content .map-widgets .iframe-wrapper iframe {
  width: 100%;
  height: 100%;
}
#footer .content .map-widgets .widgets {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 200px;
}
#footer .content .map-widgets .widgets .widget .header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#footer .content .map-widgets .widgets .widget .header svg {
  width: 20px;
  height: 20px;
  margin: 10px;
}
#footer .content .map-widgets .widgets .widget .header svg use {
  fill: #ebebeb;
}
#footer .content .map-widgets .widgets .widget .header h3 {
  margin: 0;
  color: #ebebeb;
}
#footer .content .map-widgets .widgets .widget .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#footer .content .map-widgets .widgets .widget .content a, #footer .content .map-widgets .widgets .widget .content p {
  color: #1d1d1b;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  color: #ebebeb;
  padding: 5px;
  transition-duration: 0.3s;
}
#footer .content .map-widgets .widgets .widget .content a:hover {
  opacity: 0.5;
}
#footer .bottom-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -60px;
  padding-bottom: 10px;
}
#footer .bottom-bar small {
  display: inline-block;
  font-size: 10px;
  margin-top: 100px;
}
#footer .bottom-bar small a {
  color: #b675eb;
}
#footer .bottom-bar .legal-logo {
  width: 50px;
  height: auto;
  margin: 0;
}
#footer .bottom-bar .legal-logo img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1100px) {
  #footer .bg {
    width: 300px;
  }
  #footer .content {
    justify-content: space-between;
  }
  #footer .content .form {
    width: calc(100% - 300px);
  }
  #footer .content .map-widgets {
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;
  }
  #footer .content .map-widgets .iframe-wrapper {
    margin-bottom: 50px;
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 650px) {
  #footer .bg {
    top: initial;
    bottom: 0;
    height: calc(100% - 700px);
    width: 100%;
  }
  #footer > .content {
    flex-direction: column;
    margin-top: 100px;
  }
  #footer > .content .form, #footer > .content .map-widgets {
    width: 90%;
    padding: 0 5%;
  }
  #footer > .content .map-widgets .iframe-wrapper {
    height: 300px;
  }
  #footer > .content .map-widgets .widgets {
    width: 100%;
  }
  #footer > .content .map-widgets .widgets .widget {
    width: 200px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
