html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  font-family: "Montserrat", sans-serif;
  color: #ebebeb;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #ebebeb;
}

.regular-width {
  max-width: 1250px;
  margin: 0 auto;
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Lora", serif;
  color: #1d1d1b;
  margin: 25px 0;
}

h2 {
  font-size: 50px;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.top-title {
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  color: #6458ff;
}

img.shadow {
  box-shadow: 4px 4px 30px -15px #1d1d1b;
}

.socials .social {
  display: inline-block;
  padding: 10px;
}
.socials .social svg {
  width: 15px;
  height: 15px;
  text-align: center;
  margin: 0 auto;
}
.socials .social svg use {
  fill: #ebebeb;
}

.logo, .social {
  transition-duration: 0.3s;
}
.logo:hover, .social:hover {
  opacity: 0.7;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  box-shadow: 4px 4px 6px 0px #4135e0;
  border: none;
  transition-duration: 0.3s;
  font-size: 12px;
}
.btn.white {
  background-color: #ebebeb;
  color: #1d1d1b;
}
.btn.blue {
  background-color: #6458ff;
  color: #ebebeb;
}
.btn:hover {
  box-shadow: 4px 4px 6px 4px #4135e0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: #6458ff;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1d1d1b;
}

#header {
  position: relative;
  z-index: 1;
}
#header .logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
}
#header .logo img {
  width: 100px;
  height: auto;
}
#header .socials {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: #6458ff;
}

#hero {
  height: 100vh;
  min-height: 600px;
  max-height: 1100px;
  background-color: #6458ff;
  position: relative;
}
#hero .content-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#hero .content-wrapper .content {
  display: inline-block;
  width: 500px;
}
#hero .content-wrapper .content h1 {
  color: #ebebeb;
  font-size: 50px;
}
#hero .content-wrapper .content .btn {
  margin-top: 20px;
}
#hero .image {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: calc(100% - 500px - (100% - 1250px) / 2);
  height: 100%;
  background-image: url("../imgs/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#about {
  height: 700px;
  position: relative;
}
#about .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: calc((100% - 1250px) / 2 + 550px + 100px);
  height: 100%;
  z-index: -1;
  background-color: #1d1d1b;
}
#about .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#about .content .text {
  width: 500px;
  padding-right: 50px;
}
#about .content .text h2 {
  color: #6458ff;
}
#about .content .text p.top-title {
  color: #6458ff;
}
#about .content .image-wrapper {
  width: calc(100% - 550px);
}
#about .content .image-wrapper img {
  width: 100%;
  height: auto;
}

#services {
  position: relative;
  color: #1d1d1b;
}
#services .bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  height: 100%;
  z-index: -1;
  background-color: #6458ff;
}
#services .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#services .content .text {
  width: 650px;
  padding: 100px 0;
  padding-right: 50px;
}
#services .content .text h2 {
  color: #1d1d1b;
}
#services .content .text .grid.services-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
}
#services .content .text .grid.services-card .service {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#services .content .text .grid.services-card .service .decorator {
  width: 20px;
  height: 25px;
  border: 2px solid #6458ff;
}
#services .content .text .grid.services-card .service .name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#services .content .text .grid.services-card .service .name .line {
  width: 40px;
  height: 5px;
  border-bottom: 2px solid #6458ff;
  margin-right: 20px;
}
#services .content .image-wrapper {
  width: calc(100% - 700px);
}
#services .content .image-wrapper img {
  width: 100%;
  height: auto;
  margin-top: 150px;
}

#team {
  margin-top: 100px;
  text-align: center;
}
#team .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
#team .cards .card {
  display: flex;
  flex-direction: column;
}
#team .cards .card img {
  width: 100%;
  height: auto;
}
#team .cards .card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
  background-color: #6458ff;
  color: #ebebeb;
}
#team .cards .card .info .name {
  text-align: left;
}
#team .cards .card .info .name h3 {
  margin: 0;
  margin-bottom: 8px;
  color: #ebebeb;
}
#team .cards .card .info .name p {
  margin: 0;
}
#team .cards .card .info .socials .social {
  padding: 2px;
}

/*# sourceMappingURL=styles.css.map */
